<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Teahub</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">TeaHub</h2>
            </div>

        </div> 
        <div class="content">
            <h1>Cafe & <br><span>MilkTea</span> <br>Station</h1>
            <p class="par">TeaHub serves a wide variety of tasty and refreshing 
                authentic pearl milktea drinks for all <br> you fanatics out there.
                Guaranteed made from 100% freshly brewed loose-leaf teas of high quality
                <br> for an overall healthier lifestyle. We also serve variety of coffees, Frappes, Fruit Teas and more </p>

                

                <div class="form ">
                <form method="post" >
                    <h2>Login Here</h2>
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="passw" placeholder="Password">
                    <button class="btnn" formaction="/landing">Login</button>
                    <div class="">
                        <p class="link">
                            <%=msg%>
                        </p>
                    </div>
                </form>
             
                    <p class="link">Don't have an account<br>
                    <a href="userReg">Sign up </a> here</a></p>
                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>